//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
$min-contrast-ratio: 2.5;
$genral: 16px;
$blockTitleSize: 28px;
$footerTitleSize: 18px;
$weight900: 900;
$weight500: 500;
$weight700: 700;
$authorPicSize: 65px;
$maxWidth: 1100px;
$blogMaxWidth: 920px;
$body-bg: #f8f8f8;
